@charset "UTF-8";

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}



* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 166px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header > h1 {
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 50px;
}

header > p {
    font-family: "Passion One", sans-serif;
    padding-top: 5px;
    font-size: 20px;
}

nav {
    text-align: center;
    position: sticky;
    top: 136px;
     background-color: white;
    z-index: 1000;
    padding: 6px;
    border-radius: 0px 0px 10px 10px;
}

nav > a {
    margin: 10px;
    text-decoration: none;
    font-family: "Passion One", sans-serif;
    color: black;
    font-weight: bold;
}

main {
    margin: auto;
}

article > h2 {
    padding-bottom: 10px;
    font-family: "Anton", sans-serif;;
}

article > p {
    padding: 10px;
    text-align: justify;
}

img {
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

section {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
}

section > h2 {
    padding-bottom: 10px;
    text-align: center;

}

section > p {
    padding: 20px;
    font-family: "Passion One", sans-serif;
    font-style: bold;
}

section.branco {
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(31, 29, 29);
    color: white;
    
}

img.Coco {
    border-radius: 10px;
    margin: 30px;
    width: 35%;
}

div {
    text-align: justify;
}

li {
    list-style: none;
    padding-bottom: 15px;
    
}

.bloco {
    display: flex;
    align-items: center; 
    gap: 20px;
    padding: 20px;
}

.imagem {
    width: 230px;
    border-radius: 10px;
}

.texto {
    color: black;
    text-align: justify;
}

footer {
    background-color: rgb(29, 28, 28);
    text-align: center;
    color: white;
    padding: 10px;
    
}

footer > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Anton", sans-serif;
}
