@charset "UTF-8";

@font-face {
    font-family: 'chanel', arial, sans-serif;
    src: url(couture-bldit.otf) format('otf');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
}

header {
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

header > h1 {
    font-family: 'chanel', arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    font-size: 20px;
}

main {
    margin: auto;
    padding: 40px;
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    padding: 10px;
    text-align: justify;
}

section#branco {
    background-color: white;
    color: black;
}

img.Coco {
    border-radius: 10px;
    margin: 30px;
    width: 35%;
}

li {
    list-style: none;
    text-align: left;
}

img.li {
    display: block;
    margin: 10px auto;
    max-width: 400px;
    width: 100%;
}


div {
    text-align: justify;
}